.home-layout{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 95vh;
}
div.loader{
        width: 100%;
        position: absolute;
        background-color: white;
        top:0px;
        left:0px;
        right:0px;
    }