.home-layout{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 95vh;
    // overflow: scroll;
    .home-nav{
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        gap: 50px;
    }
}