@import "../../mixin";
@import "../../variables.scss";

.task-directory {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    overflow-x: hidden;
    padding-top: 10px;
    &:hover {
        overflow: auto;
    }
}

