@import "../../mixin";
@import "../../variables.scss";
form {
    position: relative;
    width: 100%;
    border-radius: $base-border-radius;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
