//font
$base-font-size: 1.3rem;
$base-line-height: 1.5;
$font-lg: $base-font-size * 1.25;
$font-xl: $base-font-size * 1.5;
$font-xxl: $base-font-size * 2;
$font-xxxl: $base-font-size * 3;
$base-font-family: "Poppins", sans-serif;
$base-font-color: #2b2b2b;
$base-style-color:#EE7214;
$base-hover-color:#ed8a3e;
$alternate-color: #fff78a63;

//padding and margins
$base-padding: 10px;
$base-td-padding:5px;
$base-rl-padding: 10px;

$base-margin: 20px;
$base-td-margin: 10px;
$base-rl-margin: 10px;

//border
$base-border-thickness: 1px;
$base-border-style: solid;
$base-border-radius: 10px;

//transition
$base-transition: all 0.3s ease-in-out;
