* {
    margin: 0px;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background-image: url(./images/b5.jpg);
    backdrop-filter: blur(3px);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

div#root{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

}