@keyframes button {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 750px) {
    button[form="add-task"] span{
        display: none;
    }
    button[form="update-task"] span{
        display: none;
    }
    .task {
        grid-template-columns: 40px 1fr !important;
    }
    p.label {
        display: none;
    }
}
main {
    display: grid;
    grid-template-rows: 0fr 0fr 70px;
    position: relative;
    left: 35px;
    width: 67vw;
    height: 87vh;
    border-radius: $base-border-radius * 2;
    padding: $base-padding * 2;
    overflow: scroll;
    background-color: rgba(200, 200, 200, 0.662);
    box-shadow: 0px 0px 2px 2px rgba(200, 200, 200, 0.662);
    &::-webkit-scrollbar {
        display: none;
    }
    div {
        p[id="new-task-button"] {
            position: relative;
            font-family: "Poppins", sans-serif;
            font-size: $base-font-size * 1.1;
            padding: $base-padding * 0.4 $base-padding * 1.5;
            margin-bottom: $base-margin;
            background-color: ghostwhite;
            color: $base-style-color;
            border: 2px solid $base-style-color;
            border-radius: $base-border-radius;
            width: 110px;
            cursor: pointer;
            &::after {
                content: "Create a new task";
                position: absolute;
                top: 0px;
                left: 110%;
                width: 155px;
                font-size: $base-font-size * 0.8;
                color: ghostwhite;
                background-color: rgb(70, 70, 70);
                padding: $base-padding * 0.7 $base-padding;
                border-radius: $base-border-radius * 0.3;
                display: none;
            }
            &::before {
                content: "";
                position: absolute;
                background-color: rgb(70, 70, 70);
                width: 12px;
                height: 12px;
                margin: $base-margin * 0.5 0px;
                transform: rotateZ(45deg);
                left: 106%;
                display: none;
            }
            &:hover::before,
            &:hover::after {
                display: block;
            }
        }
        form {
            text-align: center;
            display: none;
            div {
                position: relative;
                padding: $base-padding * 2;
                border-radius: $base-border-radius * 1.5;
                background-color: $alternate-color;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 20px;
                textarea,
                input {
                    padding: $base-padding;
                    font-size: $base-font-size * 1.153;
                    display: inline;
                    outline: none;
                    border: none;
                    background: transparent;
                    border-radius: $base-border-radius;
                    border-bottom: $base-border-thickness * 2 $base-border-style $base-style-color;
                }
                textarea {
                    width: 100%;
                    height: 40px;
                }
                div {
                    padding: 0px;
                    background-color: transparent;
                    flex-grow: 1;
                    height: 50px;
                    width: 50%;
                    input {
                        width: 100%;
                        height: 100%;
                    }
                    img {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        width: 45px;
                        transition: all 0.3s ease-in-out;
                    }
                    ul {
                        list-style: none;
                        position: absolute;
                        top: 100px;
                        background-color: ghostwhite;
                        color: $base-style-color;
                        font-size: $base-font-size * 1.153;
                        right: 10px;
                        border-radius: $base-border-radius;
                        padding: 0px;
                        overflow: hidden;
                        z-index: 99;
                        transition: $base-transition;
                        overflow: scroll;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        &#update-list {
                            top: 100px;
                            transition: none;
                            max-height: 33vh;
                            display: none;
                        }
                        li {
                            padding: $base-td-padding * 1.4 $base-rl-padding;
                            margin: $base-td-margin * 1.4 $base-rl-margin;
                            border-radius: $base-border-radius;
                            &:hover {
                                background-color: $base-style-color;
                                color: ghostwhite;
                            }
                        }
                    }
                }
                input {
                        flex-grow: 1;
                        width: 43.5%;
                        height: 50px;
                    }
            }
            button {
                font-size: 1.5rem;
                padding: $base-padding;
                margin: $base-margin;
                border-radius: $base-border-radius * 1.5;
                cursor: pointer;
                background: linear-gradient(white, $base-style-color);
                outline: none;
                border: none;
                box-sizing: border-box;
                box-shadow: 0px 3px 8px 2px rgba(119, 119, 119, 0.629);
                span {
                    padding: 10px;
                }
            }
        }
    }
    > p {
        font-size: $base-font-size * 1.1;
        margin: $base-margin;
        border-bottom: 2px solid rgb(104, 104, 104);
        i {
            margin: 0px $base-margin;
        }
    }
    div[id="task-container"] {
        flex-direction: column;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 100%;
        width: 100%;
        overflow: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        div.task {
            display: grid;
            align-items: center;
            grid-template-columns: 40px 1fr 160px;
            border-radius: $base-border-radius * 1.5;
            margin: $base-td-margin * 0.5 0px;
            background-color: $alternate-color;
            padding: $base-td-padding $base-rl-padding;
            border: 2px solid $alternate-color;
            &:hover {
                border-color: $base-style-color;
            }
            &:active p.task-description {
                white-space: normal;
            }
            i[class="fa-solid fa-trash-can"] {
                color: black;
                padding: $base-padding;
                font-size: $base-font-size;
                border-radius: 50%;
                &:hover {
                    color: red;
                }
            }

            div {
                font-size: 1.5rem;
                div.description {
                    display: grid;
                    grid-template-columns: 0.95fr 0.05fr;
                    p.task-description {
                        padding: 0px 10px;
                        position: relative;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        &:hover {
                            white-space: normal;
                        }
                    }
                    i {
                        font-size: $base-font-size;
                        color: $base-style-color;
                        margin-right: $base-margin;
                    }
                }
                div {
                    display: grid;
                    grid-template-columns: 0.05fr 0.95fr;
                    align-items: center;

                    i {
                        color: $base-style-color;
                        padding: 0px 10px;
                        display: inline-block;
                        font-size: $base-font-size * 0.9;
                    }
                    p.date {
                        font-family: "Agency FB";
                        color: rgb(77, 77, 77);
                        padding: 5px 0px 0px 0px;
                        display: inline-block;
                        font-size: $base-font-size * 0.9;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
            p.label {
                text-align: center;
                font-size: $base-font-size;
                color: $base-style-color;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                background-color: ghostwhite;
                padding: $base-padding;
                border-radius: $base-border-radius * 2;
            }
        }
        >img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.btn:active {
    animation: button 0.2s linear 0s 1;
}

.hidden{
    display: none;
}