@import "../../mixin";
@import "../../variables.scss";

.nav-item-directory {
        list-style: none;
        margin: 20px 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        color: #ffe1a542;
    }