@import "../../mixin";
@import "../../variables.scss";

nav {
    box-sizing: content-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 35px;
    background: transparent;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    transition: width 0.1s linear;
    // position: relative;
    &:hover {
        width: 190px;
    }
    &:hover div span {
        display: inline-block;
    }
    .Header {
        position: relative;
        background-color: ghostwhite;
        border: 2px solid rgba(82, 81, 81, 0.685);
        min-width: 43px;
        width: 100%;
        border-radius: $base-border-radius;
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img {
            width: 33px;
        }
        span {
            font-size: 1.5rem;
            position: relative;
            top: 4px;
            font-weight: 900;
            font-style: italic;
            color: #3c4d5d;
            display: none;
        }
    }
    &:hover .nav-title {
        display: inline-block;
    }
    .custom-button{
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 90%;
    }
}


