@import "../../mixin";
@import "../../variables.scss";
.custom-button{
    button{
        border:none;
        outline: none;
        background-color: $base-style-color;
        border-radius: $base-border-radius*0.5;
        color: white;
        font-size: $base-font-size*1.2;
        font-family: 'Arial Narrow', sans-serif;
        padding: $base-padding*0.5 $base-padding;
        box-shadow: 2px 2px 4px 2px rgba(27, 27, 27, 0.2); 
        &:hover{
            transform: scale(1.04);
            background-color: $base-hover-color;
        }
        &:active{
            transform: scale(0.95);
        }
    }
}